*{
    box-sizing: border-box;
    font-family:SFProDisplay-Regular, Helvetica, Arial, sans-serif;     
    margin: 0;
    padding: 0; 
 }

 
.container{

    background: #f0f2f5;
    padding-bottom: 112px;
    padding-top: 72px;
    min-width: 500px;


.login{
    height: 496px;
    margin: 0 40px;
    width: auto;
    margin-left: 10rem;
.picture{
    display: inline-block;
    vertical-align: top;
    width:500px;  
    padding-right: 32px;
    margin-top: 1rem;

.picture1{
    padding: 112px 0 16px;

img{

    height: 106px;
    margin: -28px;
    width:321px;
   }

 }

 .heading{
    font-family:SFProDisplay-Regular, Helvetica, Arial, sans-serif;  
    font-size: 28px;
    line-height: 32px;
    width: 500px;
    padding: 0 0 20px;
    font-weight: normal;
    }
}

.form{
   display: inline-block;
   vertical-align: top;
   margin-left: 5rem;
 
.form1{ 

.second{
    box-shadow: 0 4px 8px 0 rgba(0, 0 ,0 ,0.4);
    padding: 1rem;
    margin: 3rem 3rem 3rem 0 ;
    border-radius: 10px;
    background-color: #fff;

input{
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    color: #1d2129;
    border-radius: 6px;
    position: relative;
}
.input1{
    border:  1px solid red;
    border-radius: 6px;
}
.input2{
    border: 1px solid gray;
    border-radius: 6px;
}


.password{
  
  position: absolute;
margin-top:-55px ;
margin-left: 330px;
cursor: pointer;
font-size: 20px;

}
.password1{
    display: none;
}
.error{
    font-size: 12px;
    color: #f02849;
    margin-top: -8px;
    margin-bottom: 5px;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    text-align: left;
    .error1{
        position: absolute;
        margin-top: -45px;
        font-size: 20px;
        margin-left: 55px;
    }
    .error2{
        position: absolute;
        margin-top: -45px;
        font-size: 20px;
        margin-left: 180px;
        z-index: 1;
    }

}
.button{

    cursor: pointer;
    background-color: #1877f2;
    border: none;
    color:white;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 25px;
    width: 360px;
    margin-bottom: 1rem;
}
a{
    text-decoration: none;
    color:#1877f2;
margin: 5rem 7rem;
font-size: 14px;
margin-bottom: 1rem;

}
a:hover{
    text-decoration: underline;
}
.line{
    border-bottom: 1px solid #dadde1;
    margin-top: 16px;
}
.button1{

    background-color: #42b72a;
    border: none;
    color:white;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 600;
    line-height: 48px;
    padding: 0 16px;
    width: 210px;
    margin-bottom: 1rem;
    margin-left: 4rem;
    cursor: pointer;
}

}   

 .msg{
    p{
        a{
            text-decoration: none;
            color:#1c1e21;
            font-weight: 600;
            font-size: 14px;
        }
        a:hover{
            text-decoration-line: underline;
        }
        
      margin-top: -1rem;
        font-size: 14px;
        margin-left: 2rem;  
  
}
}
}
}    
}   
}


//1024 page MediaQuery

 @media only screen and (max-width: 1024px)
 {

.container{

    background: #f0f2f5;
    padding-bottom: 112px;
    padding-top: 72px;
    min-width: 500px;

.login{
    height: 496px;
    margin: 0 40px;
    width: auto;
    
.picture{
   width:400px;
   padding-right: 32px;
.picture1{
    
   padding: 112px 0 16px;
        
img{

    height: 106px;
    margin: -28px;
    width:321px;
 }
 }
.heading{
    margin-top: -5px;
    line-height: 28px;
    width: auto;
    font-size: 24px;
    padding: 0 0 20px;
    font-weight: 100;
    }
}

.form{
    float: right;
}

}
}
}


//768 page MediaQuery

 @media only screen and (max-width: 768px){
    .container{
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 72px 50px 400px 50px;
      min-width: 500px;


    .login{
        height: 496px;
        width: auto;
        margin-top: -5rem;


.picture{
    margin-left: 4rem;
    padding: 0;
}

.form{
.form1{
.second{
.button1{
     margin-left: 1rem;
        }
}
.msg{
p{
      margin-left: -2rem;
 }

}
}  
}
}
}  
}


//320 page MediaQuery

@media only screen and (max-width: 600px){
 
    .container{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 72px 50px 400px 50px;
        min-width: 610px;

.login{

    .picture{
        margin-left: -3rem;
    }

.form{
     margin-left: 3rem;
}
}
}
}