*{
    box-sizing: border-box;
    font-family:SFProDisplay-Regular, Helvetica, Arial, sans-serif;     
    margin: 0;
    padding: 0; 
 }

body{
    padding-top: 55px;

}


 @media only screen and (min-width:1024px){

.navbar1{
    display: none;
}

.nav-bar{
  display: none;
}


 .nav{  
    
    z-index: 1;
    position:fixed;
    width:100%;
    top: 0;
    
 
    .navbar{ 
        height: 55px;       
        background-color:white;
        padding:5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.4), 0 0 5px 0 rgba(0,0,0,0.4); 

    .logo{
        padding-left:10px;
    }
    .search{
        width:18%;
        margin-left: 10px;  
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 40px;
        // min-width: 40px;
        background-color: #F0F2F5;
        border-radius: 50px;


        span{
           font-size: 20px; 
           margin-left: 3px;
           margin-top: 5px;       
           padding-left: 12px;    
          }  

    input[type="text"]{

        padding: 7px 8px 9px;
        // height: 40px;
        font-size: 15px; 
        text-align: left;
        outline: none;
        border: none;
        background-color: transparent;
        border-radius: 50px;
        
      }  


    }
    .search-1{
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.2);
        border-radius: 8px;
        margin-left: -55px;
        margin-top: -26px;
        position: absolute;


    .head{

        display: flex;
        flex-direction: row;
        align-items: center;
        height: 56px;
        padding-right: 16px;
        padding-left: 8px;
        

     .icon{

        
        cursor:pointer;


     span{
       color:#65676B;
       font-size: 20px;
     }   

     }   
     .search{
        width:100%;
        margin-left: 10px;  
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 40px;
        // min-width: 40px;
        background-color: #F0F2F5;
        border-radius: 50px;
        position: relative;


        span{
           font-size: 20px; 
           margin-left: 3px;
           margin-top: 5px;       
           padding-left: 12px;    
          }  

    input[type="text"]{

        padding: 7px 8px 9px;
        // height: 40px;
        font-size: 15px; 
        text-align: left;
        outline: none;
        border: none;
        background-color: transparent;
        border-radius: 50px;
        
      }  


    }


    }

    .content{

        display: flex;
        flex-direction: column;
        

    .name{

        color:#65676B;
        font-size: 15px;
        text-align: center;
        height: 36px;
    }    

    }

    .content1{
    
            display: flex;
        flex-direction: column;
        height: 36px;
        

    .name{

        color:#65676B;
        font-size: 15px;
        text-align: center;
        
    }    


    }


    }
    
    
    .icons{
        margin-top: 7px;
        font-size: 25px;
        width:60%;  
        padding-left: 2rem;
        
        .arrange{
            display: flex;
            gap:18px;
          
            
            li{
                list-style-type: none;
               
                a{
                    color:black;
                    text-decoration: none;
                    padding: 8px 20px 5px 20px;
                    
                }
                .active{
                    color:#0866FF;
                    border-bottom: 3px solid #0866FF;

                }
               a:hover{
                color: black;
               }
            }
        
        }
    
    }
    
    .profile{
        width: 15%;
        padding-left: 6rem;
        cursor: pointer;
    }
    
    .Account{
        background-color: white;
        padding: 1.2rem;
        position: absolute;
        margin-top: 33rem;
        margin-left: 39rem;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.2);
        border-radius: 10px;
    
    .avatar{
    
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.2);
        border-radius: 10px;
        
        
    
     .part{
        margin-top: -1rem;
        padding: 20px 10px 20px 10px;
        text-align: center;
        .part1{
            display: flex;
            width:20rem;
            .picture{
    
                width:5rem;
            }
            .name{         
                width:15rem;  
                margin-top: 14px;
               margin-left: -7rem;
                
            }
        }

        label{
           margin-left: -130px;
           margin-top: -10px;
           position: absolute;
        }

       input{
        display: none;
       }

        .line{
            margin:1rem 1px 1rem 1px;
                  
        }
        .link{
        margin-top: 1rem;
        text-align: left;
       
    
        a{
           
            text-decoration: none;
            color:#0866FF;
           font-size: 15px;
        }
       }
     }   
    }
    
    }
    .set{
        margin-top: 1.5rem;
        
        .setting{
            display: flex;
            background-color:#E4E6EB;
            opacity: 0.7;
             border-radius: 10px;
             padding: 2px;
             cursor: pointer;
             margin-bottom: 1rem;
    
            .set1{
                font-size: 30px;
                padding: 3px;
            
            }
            .set2{
                margin-top: 10px;
                margin-left: 10px;
                a{
                    text-decoration: none;
                    color: black;
                }
    
            }
            .set3{
                margin-top: 10px;
                margin-left: 9rem;
    
            }
    
        }
        
        .setting :hover{
             
            background-color:#E4E6EB;
             border-radius: 10px;
        }
    
    }
       
    }
     
 }

 }


 @media only screen and (min-width: 320px){

.navbar{
    display: none;
}

.nav-bar{
  display: none;
}


.navbar1{

        width: 100%;     
        position: fixed;
        z-index: 1;
        top:0;

.navbar1-inner{
       
    height: 55px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.4), 0 0 5px 0 rgba(0,0,0,0.4);
    background-color: white; 
    display: flex;


    .part1{
        display: flex;
        justify-content:space-between;
        width: 100%;


     .logo{
          
         margin:1rem 0 1rem 12px;
     
         img{
             width: 115px;
             
         }
     
         
     }

     .icons{
        margin:1rem 0 1rem 12px;
        width: 100%;
        
        .arrange1{
    
            padding-bottom: 10px;
            display: flex;
            gap:18px;
               
    
    
            li{
                list-style-type: none;
                a{
                    text-decoration: none;
                    color:black;
                    font-size:21px;
                    padding: 8px 12px 10px 12px;
    
                }

                .active{
                    color:#0866FF;
                    border-bottom: 3px solid #0866FF;

                }
            }
        }
    
    }
    
     
    .bar{
             
        margin: 16px 16px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
     
    .bar1{

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 2px;
        background-color: #E4E6EB;


        span{
            font-size: 20px;
            padding: 6px;
            background-color: #E4E6EB;
            border-radius: 50%;
        }

    }    
       
    
     }
     
     }
}    



}

    
.profile1{
    

    width: 38.5rem;         
    margin-top: -55px;
    z-index: 1;
    position: sticky;
    top:0;


.profile1-inner{


    height: 100%;
    overflow: auto;
    position: fixed;
    background-color:rgba(240,242,245,1.0);
    padding: 10px 0 20px 0;


    .menu{

        display: flex;
        margin-top: -1rem;
       
        .back{
            margin:4rem 2rem;
            font-size: 40px;
                       
        }
    
        .back1{
             color:black;
            margin-top:4rem;
        }
    
     }
    
     .profile2{
          display: flex;
          margin-left: 2.5rem;
          margin-top: -2rem;
        .avatar{
            margin-top: -1rem;
           
        }
        .name{
            margin-left: 1rem;
            margin-top: -0.6rem;
            font-size: 24px;
            font-weight: 100;
        }
     }
       
    label{
        margin-left: 70px;
        position: absolute;
        margin-top: -10px;
    } 
     input{
        display: none;
     }
    
     .another{
        display: flex;
        margin-top:1.5rem;  
        background-color: white;
        padding: 1rem;
        cursor: pointer;
    
        .icon{
    
            .plus{
                font-size: 31px;  
                margin-left: 1.4rem;  
            }
    
        }
        .text{
            margin-top: 0.2rem;
            margin-left: 1rem;
            font-size: 22px;
            font-weight: 100;
    
        }
     }
    
     .box{
    
        margin-left: 3rem;
        display: flex;
        flex-wrap: wrap;
    
        .box1{
            background-color: white;
             width:15rem;
             margin-top: 1.5rem;
             margin-right: 1rem;
             padding: 1rem;
             border-radius: 10px;
            img{
                width: 45px;
                height: 45px;
            }
            a{
                text-decoration: none;
                color: black;   
                font-size: 22px;
                margin-left: 5px;
            }
        }
     }
    
    .horizantal{
    margin-top: 2rem;
    }
    
    
    .tab{
        margin-top: 1.5rem;
        margin-left: 2rem;
    
        .setting{
    
            display: flex;
    
            .set1{
    
                font-size: 3.2rem;
            }
            .set2{
                margin-top: 10px;
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 25px;
                    margin-left: 18px;
                    
                }
    
            }
           .set3{
            margin-top: 10px;
            font-size: 25px;
            margin-left: 24rem;
           }
    
    
        }
    
        .horizantal1{
            margin-bottom: 1rem;
        }
    
    }
    




}    

}



} 


 @media only screen and (min-width: 768px){



    .navbar{
        display: none;
    }
    
    
    .navbar1{
    
        width:100%;        
        position: fixed;
        z-index: 1;
        top:0;
        
.navbar1-inner{
    height: 55px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.4), 0 0 5px 0 rgba(0,0,0,0.4);
    background-color: white; 
    display: flex;
    

    .part1{
    
        display: flex;
        justify-content:space-between;
        width: 100%;
        
     
     .logo{
          
         margin:1rem 0 1rem 12px;
     
         img{
             width: 115px;
             
         }
     
         
     }
     
     .icons{
     
        margin:1rem 0 1rem 12px;
        width: 100%;

        .arrange1{
           padding-bottom: 10px;
            display: flex;
            flex-direction: row;
            gap:18px;
                
            li{
                list-style-type: none;
                a{
                    text-decoration: none;
                    color:black;
                    font-size:21px;
                    padding: 8px 20px 10px 20px;
    
                }

                .active{
                    color:#0866FF;
                    border-bottom: 3px solid #0866FF;

                }
            }
        }
    
    }
    

     .bar{
             
        margin: 16px 16px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    .bar1{
        
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 2px;
        background-color: #E4E6EB;

        span{
            font-size: 20px;
            
            
        }
    

    }

     }
     
     }
     
   
}


}
    
    .profile1{
       
        width: 100%;             
        margin-top: -55px;
        z-index: 1;
        position: sticky;
        top:0;
        
       

    .profile1-inner{

        height: 100vh;
        overflow: auto;
        position: fixed;
        background-color:rgba(240,242,245,1.0);
        padding: 10px 0 20px 0;
        

     
        .menu{

            display: flex;
            margin-top: -1rem;
           
            .back{
                margin:4rem 2rem;
                font-size: 40px;
                           
            }
    
            .back1{
                 color:black;
                margin-top:4rem;
            }
    
         }
    
         .profile2{
              display: flex;
              margin-left: 2.5rem;
              margin-top: -2rem;
            .avatar{
                margin-top: -1rem;
               
            }
            .name{
                margin-left: 1rem;
                margin-top: -0.6rem;
                font-size: 24px;
                font-weight: 100;
            }
         }
           
    
         .another{
            display: flex;
            margin-top:1.5rem;  
            background-color: white;
            padding: 1rem;
            cursor: pointer;
    
            .icon{
    
                .plus{
                    font-size: 31px;  
                    margin-left: 1.4rem;  
                }
    
            }
            .text{
                margin-top: 0.2rem;
                margin-left: 1rem;
                font-size: 22px;
                font-weight: 100;
    
            }
         }
    
         .box{
    
            margin-left: 1.5rem;
            display: flex;
            flex-wrap: wrap;
    
            .box1{
                background-color: white;
                 width:22rem;
                 margin-top: 1.5rem;
                 margin-right: 1rem;
                 padding: 1rem;
                 border-radius: 10px;
                img{
                    width: 45px;
                    height: 45px;
                }
                a{
                    text-decoration: none;
                    color: black;   
                    font-size: 22px;
                    margin-left: 5px;
                }
            }
         }
    
        .horizantal{
        margin-top: 2rem;
        }
    
    
        .tab{
            margin-top: 1.5rem;
            margin-left: 2rem;
    
            .setting{
    
                display: flex;
    
                .set1{
    
                    font-size: 3.2rem;
                }
                .set2{
                    margin-top: 10px;
                    a{
                        text-decoration: none;
                        color: black;
                        font-size: 25px;
                        margin-left: 18px;
                        
                    }
    
                }
               .set3{
                margin-top: 10px;
                font-size: 25px;
                margin-left: 26rem;
               }
    
    
            }
    
            .horizantal1{
                margin-bottom: 1rem;
            }
    
        }
        


        
    }    
    }




 }



 @media only screen and (min-width:1140px)
 {


    .navbar1{
        display: none;
    }
    
    
     .nav{  
        
        
        .navbar{
            position: fixed;
            background-color:white;
            width:100%;
            padding:5px;
            display: flex;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.1), 0 0 5px 0 rgba(0,0,0,0.1); 
        
         
        .logo{
            padding-left:10px;
        }
        // .search{
        //     width:20%;  


        //     input[type="text"]{

        //         background-color: #F0f2F5;
        //         border-radius: 20px;
        //         height: 35px;
        //         font-size: 16px;
        //         padding-left: 25px;   
        //         outline: none;
        //         border: none;
                
        //       } 

        // }

        // .search-1{
        //     background-color: white;
        //     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.2);
        //     padding: 10px;
        //     border-radius: 6px;

      
        // }
        
        
        .icons{
            margin-top: 7px;
            font-size: 25px;
            width:60%;  
            padding-left: 4rem;
            
            .arrange{
                display: flex;
                gap:18px;
              
                
                li{
                    list-style-type: none;
                   
                    a{
                        color:black;
                        padding: 8px 20px 5px 20px;
                        
                    }
                    .active{
                        color:#0866FF;
                        border-bottom: 3px solid #0866FF;

                    }
                   a:hover{
                    color: black;
                    
                   }
                }
            
            }
        
        }
        
        .profile{
            width: 17%;
            padding-left: 12rem;
            cursor: pointer;
        }
        
        .Account{
            background-color: white;
            padding: 1.2rem;
            position: absolute;
            margin-top: 33rem;
            margin-left: 60rem;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.2);
            border-radius: 10px;
        
        .avatar{
        
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.2);
            border-radius: 10px;
            
            
        
         .part{
            margin-top: -1rem;
            padding: 20px 10px 20px 10px;
            text-align: center;
            .part1{
                display: flex;
                width:20rem;
                .picture{
        
                    width:5rem;
                }
                .name{         
                    width:15rem;  
                    margin-top: 14px;
                   margin-left: -7rem;
                    
                }
            }
           
        
            .line{
                margin:1rem 1px 1rem 1px;
                      
            }
            .link{
            margin-top: 1rem;
            text-align: left;
           
        
            a{
               
                text-decoration: none;
                color:#0866FF;
               font-size: 15px;
            }
           }
         }   
        }
        
        }
        .set{
            margin-top: 1.5rem;
            
            .setting{
                display: flex;
                background-color:#E4E6EB;
                opacity: 0.7;
                 border-radius: 10px;
                 padding: 2px;
                 cursor: pointer;
                 margin-bottom: 1rem;
        
                .set1{
                    font-size: 30px;
                    padding: 3px;
                
                }
                .set2{
                    margin-top: 10px;
                    margin-left: 10px;
                    a{
                        text-decoration: none;
                        color: black;
                    }
        
                }
                .set3{
                    margin-top: 10px;
                    margin-left: 9rem;
        
                }
        
            }
            
            .setting :hover{
                 
                background-color:#E4E6EB;
                 border-radius: 10px;
            }
        
        }
           
        }
         
     }
    



 }











 